/* Variables */

:root {
	--color-primary: #b48a3b;
	/* --color-secondary: hsl(0, 0%, 95%); */
	--color-secondary: aliceblue;
	--color-tertiary: #330;
	--color-border: rgba(0, 0, 0, 0.2);
	--breakpoint-mobile: 600px;
	--breakpoint-tablet: 768px;
	--breakpoint-desktop: 1200px;
	--breakpoint-hd: 1800px;
	--border-radius: 5px;
	--font-family-primary: 'Nunito', sans-serif;
	--font-family-secondary: 'Libre Baskerville', serif;

}

/*
Includes Global CSS Styles such as libraries css and WP block library
*/

/* Import the WordPress block library styles.
   Note: Update the URL to match the WordPress version you're supporting. */
@import url("https://codewithnas.annasrauther.com/wp-includes/css/dist/block-library/style.css");

/* Reset default padding and margin for various elements */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a {
	padding: 0;
	margin: 0;
}

/* Apply base styles to HTML and body elements */
html, body {
	font-family: var(--font-family-primary);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	color: var(--color-tertiary);
}

/* Style for links */
a {
	text-decoration: none;
	color: var(--color-tertiary);
}

/* Hover, active, and focus styles for links */
a:hover,
a:active,
a:focus {
	color: var(--color-primary);
}

/* Responsive styling for images */
img {
	width: 100%;
	height: auto;
}

.container {
	padding: clamp(10px, 5vw, 3em);
	max-width: var(--breakpoint-hd);
	margin: 0 auto;
}