/*
Includes Global CSS Styles such as libraries css and WP block library
*/

/* this should match the WordPress version you're supporting
 take this from wp-includes/css/dist/block-library/style.css */
@import url("https://codewithnas.annasrauther.com/wp-includes/css/dist/block-library/style.css");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a {
	padding: 0;
	margin: 0;
}
html, body {
	font-family: system-ui;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	color: #330;
	background: aliceblue;
}

a {
	text-decoration: none;
	border-bottom: 2px solid #b48a3b;
	color: #330;
	
}
a:hover,
a:active,
a:focus {
	color: #000;
}

img {
	width: 100%;
    height: auto;
}